<div class="container px-4 py-3">
  <!-- Header -->
  <div class="header">
    <h2 class="titre m-0">Liste des Utilisateurs</h2>

    <!-- Search bar -->
    <div class="search-container">
      <input
        type="text"
        placeholder="Rechercher par email..."
        [(ngModel)]="searchEmail"
        (input)="search()"
      />
    </div>

    <!-- Add User Button -->
    <button class="btn btn-success" (click)="router.navigate(['/add-user'])">
      Ajouter Utilisateur
    </button>
  </div>

  <!-- Users Table -->
  <div class="table-responsive custom-table">
    <table class="table table-hover">
      <thead>
        <tr class="mat-header-row">
          <th class="mat-header-cell">Nom</th>
          <th class="mat-header-cell">Prénom</th>
          <th class="mat-header-cell">Email</th>
          <th class="mat-header-cell">Rôle</th>
          <th class="mat-header-cell">Date d'ajout</th>
        </tr>
      </thead>
      <tbody>
        <tr
          class="mat-row"
          *ngFor="let user of filteredUsers"
          (click)="goToFiche(user)"
        >
          <td class="mat-cell">{{ user.nom }}</td>
          <td class="mat-cell">{{ user.prenom }}</td>
          <td class="mat-cell">{{ user.email }}</td>
          <td class="mat-cell">{{ user.role }}</td>
          <td class="mat-cell">{{ user.datecreation | date: 'shortDate' }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
